/nbproject/private/
/build/
/dist/
/nbbuild/
/nbdist/
/nbactions.xml
/nb-configuration.xml

/Welcome/nbproject/private/
/Welcome/dist/
/Welcome/build/
/Aula02/nbproject/private/
/Aula02/build/
/ListaV/nbproject/private/
/ListaV/build/
/MathTests/nbproject/private/
/MathTests/build/
